.App {
  text-align: center;
  width: 100%;
}

body {
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc-button-primary {
  background-color: #1a237e;
  border-color: #1a237e;
}

.fc-button-primary:hover {
  background-color: #6c7bf0;
  border-color: #6c7bf0;
}

.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1a237e;
}

.fc .fc-toolbar-chunk {
  color: #1a237e;
}

.fc .fc-daygrid-event {
  background-color: #e0e2f2;
  border-color: #a5adf5;
}

.fc .fc-daygrid-event:hover {
  background-color: #a5adf5;
  border-color: #6c7bf0;
}

.fc .fc-time-grid-event {
  background-color: #e0e2f2;
  border-color: #a5adf5;
}

.fc .fc-time-grid-event:hover {
  background-color: #a5adf5;
  border-color: #6c7bf0;
}

.fc-day-today {
  background-color: #e0e2f2 !important;
  color: #1a237e !important;
}

.fc-day.fc-day-clicked {
  background-color: #e0e2f2 !important;
  color: #ffffff !important;
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.bottom-right-span {
  position: fixed;
  bottom: 0;
}
